<% include ../layouts/header %>
  <!-- Modal -->
  <div class="modal fade" id="preview" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Vista previa</h4> 
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        </div>
        <div class="modal-body">
            <div style="text-align: center;">
                <iframe style="width:400px; height:500px;" frameborder="0" id="frame"></iframe>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table mr-1"></i>
        Listado de productos
        <a class="btn btn-primary float-right" href="/products/add">Agregar producto <i class="fas fa-plus-circle"></i></a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Clave</th>
                        <th>Titulo</th>
                        <th>Descripcion</th>
                        <th>Precio</th>
                        <th>Portada</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Clave</th>
                        <th>Titulo</th>
                        <th>Descripcion</th>
                        <th>Precio</th>
                        <th>Portada</th>
                        <th>Opciones</th>
                    </tr>
                </tfoot>
                <tbody>
                    <% products.forEach((product) => { %>
                        <%- include('row', {product: product}); %>
                    <% }); %> 
                </tbody>
            </table>
        </div>
    </div>
</div>

<% include ../layouts/footer %>